body {
  -webkit-font-smoothing: antialiased;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

a,
a:link,
a:visited {
  text-decoration: none;
  outline: 0;
}

ul,
li,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  all: unset;
}

*:focus {
  outline: 0;
}
